// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


    .hoja {

background-color: #F8F8FF;
padding: 20px;
margin-left: 400px;;
margin-right: 400px;
margin-top: 100px ;
margin-bottom: 100px;
border-radius: 10px;


.c{

text-shadow: 2px 2px blue;

}

    }


    .h{

      background-color: #1186EE;
      padding: 20px;
      margin-left: 500px;;
      margin-right: 500px;
      margin-top: 100px ;
      margin-bottom: 100px;
      border-radius: 20px;


    }

    .category{

text-shadow: 3px 3px white;

    }
