// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
ol {


  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0px;
}

.ancho {

height: 70px;

}


.first-day{

grid-column-start: 4;
}

.title{

text-align: center;
margin: .2em 0;
color: #232323;
text-shadow: 2px 2px  #90EE90;

}


.day-name{

background: white;
font-size: 20px;

}



.all {

background: white;
float: right;
box-shadow: .5px 3px 5px #9ACD32;
margin: 5em auto;
text-align: center;
width: 730px;
position: relative;
top: 0px;
right: 20px;

}


.aqui {


  background-color: rgb(180, 180, 180);
  padding: 20px;
  margin-left: 500px;;
  margin-right: 500px;
  margin-top: 100px ;
  margin-bottom: 100px;
  border-radius: 20px;


}



.work{

box-shadow: .5px 3px 5px #00BFFF;
float: left;


}

.tare{
  list-style: none;
  display: grid;
  background: white;
  font-weight: bold;
text-shadow: 2px 2px #7FFFD4 ;
width: 520px;
float: left;

}
